@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");

:root {
  /*--dark: #241715;*/
  --gray: #3d3d3d;
  --light: #f4fffd;
  --primary: #d1a4fa;
  --error: #ed254e;
  --primary-font: "Nunito", sans-serif;
}

body {
  color: var(--dark);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  font-weight: 700;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

div > p {
  text-align: center;
}


nav {
  background: #d1a4fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
}

main {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #4442a5;
}

h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

table {
  width: 80%;
  margin: auto;
}

td {
  text-align: center;
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

tbody tr:nth-child(even) {
  background: #f4eafd;
}

.New form {
  margin: auto;
  width: 95%;
}

input[type],
textarea {
  display: block;
  width: 90%;
  margin: auto;
}

input[type="checkbox"] {
  margin: 0;
  width: 15%;
}

input[type="submit"] {
  width: 30%;
}

